.App{
  height: 100VH;
  width: 100VW;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Tictactoe{
  height: 21rem;
  width: 21rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.Tictactoe > div{
  height: 6.8rem;
  width: 6.8rem;
  border: 1px solid black;
  font-size: 5rem;
  text-align: center;
}